# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Nathan P

**Objectives:**
- List popular languages for data science
- List common data science Libraries
- Show data science tools
- Show arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| VS Code            |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [29]:
minutes = 200
hours = minutes // 60
remaining_minutes = minutes % 60

print(F"{minutes} minutes equals {hours} hours and {remaining_minutes} minutes")

200 minutes equals 3 hours and 20 minutes